@import '../../variables.scss';

.Poster {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
  height: 100%;
  margin-right: 15px;
  width: 200px;
  

  &.trending {
    width: 260px; 
  }

  &:hover {
    .Poster-title {
      color: $highlight;
    }

    .Poster-poster {
      border-color: $highlight;
    }
  }
}

.Poster-poster {
  width: 100%;
  border: 1px solid $faint-white;
}

.Poster-title {
	margin: 5px 0 0 0;
  width: 100%;
	overflow: hidden;
	white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 16px;
  color: $faint-white;
  font-weight: 300;
  text-align: left;
}


