.Poster {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
  height: 100%;
  padding-right: 10px;
}

.Poster-poster {
	width: 225px;
}

.Poster-title {
	margin: 10px 0 0 0;
	width: 225px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
