@import '../../variables.scss';

.Poster {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
  margin-right: 10px;
  height: 100%;

	&.trending {
    width: 250px;

		.Poster-poster,
		.Poster-title {
      width: 250px;
			font-size: 17px;
    }

    .Poster-poster {
      height: 375px;
    }
	}

	&:hover {
		.Poster-title {
			color: $highlight;
		}

		.Poster-poster {
			border-color: $highlight;
		}
	}

}

.Poster-poster {
  width: 185px;
  height: 275px;
  border: 1px solid $faint-white;
}

.Poster-title {
	margin: 2px 0 10px 0;
	width: 185px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	color: $faint-white;
	font-weight: 300;
	text-align: left;
}
