@import '../../variables.scss';

.Loader-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Loader {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.Loader div {
	display: inline-block;
	position: absolute;
	left: 6px;
	width: 13px;
	background: white;

	animation: Loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.Loader div:nth-child(1) {
	left: 6px;
	animation-delay: -0.24s;
}
.Loader div:nth-child(2) {
	left: 26px;
	animation-delay: -0.12s;
}
.Loader div:nth-child(3) {
	left: 45px;
	animation-delay: 0;
}
@keyframes Loader {
	0% {
		top: 6px;
		height: 51px;
	}
	50%,
	100% {
		top: 19px;
		height: 26px;
	}
}
