@import '../../variables.scss';

.MovieDetails {
	height: 100vh;
	width: calc(100vw - #{$nav-width});
	position: relative;
	color: white;
	z-index: 2;
	overflow: scroll;
}

.MovieDetails-content {
	padding: 30px;
	height: 100%;
	width: 100%;
	text-align: left;
	overflow: scroll;
}

.MovieDetails-backdrop {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: black;
	z-index: -1;
	& img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		opacity: 0.15;
	}
}

h1 {
	margin: 0;
	font-size: 50px;
	font-weight: 600;
	& > span {
		font-weight: 300;
		font-size: 30px;
		& span {
			font-size: 16px;
		}
	}
}

.MovieDetails-genres {
	margin: 15px 0;
}

.MovieDetails-genre {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid white;
	display: inline-block;
	margin: 0 5px;
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}

.MovieDetails-main {
	border-right: 1px solid white;
	display: grid;
	grid-template-columns: 342px auto;
}

.MovieDetails-metadata {
	padding: 0 50px;
	line-height: 1.4;
	& .metadata-header {
		margin: 0 0 5px 0;
		font-weight: 600;
		font-size: 20px;
	}
	& .metadata-info {
		margin-top: 0;
	}
}

.MovieDetails-grid {
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-gap: 25px;
}

.MovieDetails-similar {
	& h2 {
		margin: 0;
	}
}
