.Navigation {
  background: #2A2E30;
  width: 140px;
  text-align: left;
  padding: 0px 10px;
}

.nav-section {
  display: flex;
  flex-direction: column;
}

.nav-header {
  font-size: 12px;
  font-weight: 400;
  color: white;
  opacity: .3;
  margin: 25px 0px 15px 0px;
}

.nav-link {
  font-size: 14px;
  color: white;
  opacity: .5;
  padding-left: 5px;
  text-decoration: none;
  margin-bottom: 8px;
}