@import '../../variables.scss';

.MovieContainer {
	text-align: left;
}

.MovieContainer-section-wrap {
  display: grid;
  border: 1px solid red;
  grid-template-columns: repeat(auto-fill, 225px);
  grid-column-gap: 25px;
  overflow: hidden;
  padding: 15px;
}

.MovieContainer-section-title {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 600;
  color: $faint-white;
  margin-top: 10px;

  &::first-letter {
    text-transform: uppercase;
  }
}

.MovieContainer-section-row {
  display: flex;
  padding: 5px 0px;
  overflow-x: scroll;
  max-width: calc(100vw - #{$nav-width});
}

.poster-link {
  text-decoration: none;

  &:hover {
      color: $highlight;
  }
}

