.top-bar {
  background: #505C60;
  height: 50px;
  width: 100%;
  z-index: 2;
}

.logo-area {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 36px;
  padding: 0px 10px;
}

.logo-text {
  color: white;
}

