@import '../../variables.scss';
@import '../../components/Header/_Header.scss';
@import '../../components/Navigation/_Navigation.scss';
@import '../../components/Poster/_Poster.scss';
@import '../../containers/MovieContainer/_MovieContainer.scss';
@import '../../containers/UserForm/_UserForm.scss';


.App {
  min-width: 100vw;
  max-width: 100vw;
  text-align: center;
}

.below-header {
  margin-top: $header-height;
  margin-left: $nav-width;
  display: flex;
  min-height: calc(100vh - #{$header-height});
}

.main-content {
  width: calc(100vw - #{$nav-width});
  padding: 5px 0px 25px 25px;
  background: $bg-gradient, url('../../images/main-bg.png');
}