@import '../../variables.scss';

.App {
  min-width: 100vw;
  max-width: 100vw;
  text-align: center;
}

.below-header {
  display: flex;
  min-height: calc(100vh - #{$header-height});
}

.main-content {
  width: calc(100vw - #{$nav-width});
  padding: 5px 0px 25px 25px;
  background: $bg-gradient, url('../../images/main-bg.png');
}