@import '../../variables.scss';
@import '../../containers/Header/_Header.scss';
@import '../../containers/Navigation/_Navigation.scss';
@import '../../containers/MovieContainer/_MovieContainer.scss';
@import '../../containers/UserForm/_UserForm.scss';
@import '../Poster/Poster';

.App {
	min-width: 100vw;
	max-width: 100vw;
	text-align: center;
}

.below-header {
  margin-top: $header-height;
  display: flex;
  width: 100vw;
  min-height: calc(100vh - #{$header-height});
}

.main-content {
	width: calc(100vw - #{$nav-width});
	margin-left: $nav-width;
	background: $bg-gradient, url('../../images/main-bg.png');
	object-fit: cover;
}
