@import './variables.scss';
@import './containers/App/_App.scss';
@import './components/Header/_Header.scss';
@import './components/Navigation/_Navigation.scss';
@import './components/Poster/_Poster.scss';
@import './containers/MovieContainer/_MovieContainer.scss';
@import './containers/Login/_Login.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



