@import '../../variables.scss';

.user-form {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 10px 30px 25px 30px;

  .form-header {
    margin: 0;
    margin-left: 10px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
  }

  .detail-input,
  .login-form-btn {
    margin: 10px;
    height: 35px;
    width: 250px;
    border-radius: 5px;
  }

  .detail-input {
    padding-left: 5px;
  }

  .login-form-btn {
    border: none;
    background: rgb(26, 26, 80);
    color: white;
    font-size: 16px;

    &:hover {
      background: rgb(40, 100, 120);;
    }
  }
}

.popup {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.dialog {
  padding: 25px 15px 30px 15px;
  background: white;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .dialog-header {
    margin: 0;
    margin-bottom: 20px;
    font-size: 26px;
  }
}

.popup-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 3;
  color: darkred;
  font-size: 25px;
  cursor: pointer;

  &:hover {
    color: red;
  }
}

.error {
  width: 250px;
  font-size: 14px;
  line-height: 1.2;
  color: darkred;
  position: absolute;
  bottom: 5px;
}

.login-form-btn:disabled {
  background: rgb(176, 176, 176);

  &:hover {
    background: rgb(176, 176, 176);
  }
}

